.content-app {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.table-container {
  align-self: center;
  margin-top: 30px;
  width: 90%;
}
